div(class=`${$pageRootClassName}__section`)
    div.preview
        div(class=`${$pageRootClassName}__layout`)
            div.preview__body
                figure.preview__picture(style="padding-bottom: 60%;")
                    a.preview__link(href="#")
                        img.preview__image(src="https://source.unsplash.com/tvleqH3p1os/1440", alt="", style="margin-top: -10%")
