- $pageRootClassName = 'page'
- $fontSrc = 'https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,400i|PT+Serif+Caption:400,400i&display=swap&subset=cyrillic'

-
    $mainNav = [
        {
            label: 'Портфолио',
            href: '#',
        },
        {
            label: 'Обо мне',
            href: '#',
        },
        {
            label: 'Написать мне',
            href: '#'
        }
    ]

-
    $portfolioNav = [
        {
            label: 'Все работы',
            href: '#',
        },
        {
            label: 'Логотипы',
            href: '#',
        },
        {
            label: 'Упаковка',
            href: '#'
        },
        {
            label: 'Полиграфия',
            href: '#'
        }
    ]

-
    $portfolioList = [
        {
            label: '',
            href: '#',
            wide: false,
            img: 'https://source.unsplash.com/800x600/?nature',
            alt: '',
        },
        {
            label: '',
            href: '#',
            wide: false,
            img: 'https://source.unsplash.com/800x600/?water',
            alt: '',
        },
        {
            label: '',
            href: '#',
            wide: false,
            img: 'https://source.unsplash.com/800x600/?flower',
            alt: '',
        },
        {
            label: '',
            href: '#',
            wide: false,
            img: 'https://source.unsplash.com/800x600?mountain',
            alt: '',
        },
        {
            label: '',
            href: '#',
            wide: true,
            img: 'https://source.unsplash.com/800x400?animal',
            alt: '',
        },
        {
            label: '',
            href: '#',
            wide: false,
            img: 'https://source.unsplash.com/800x600?sky',
            alt: '',
        },
        {
            label: '',
            href: '#',
            wide: false,
            img: 'https://source.unsplash.com/800x600?coffee',
            alt: '',
        },
    ]
