// project

.project
  position: relative
  display: block
  padding: 0
  margin: 0

  &__picture
  &__image
  &__caption
    position: relative
    display: block
    padding: 0
    margin: 0

  &__image
    width: 100%
    height: auto
    border: none
