@require '_variables'
@require '_mixins'
@require '_functions'
@require '_extends'
@require 'global'

// base
@require 'blocks/page';

@require 'blocks/sections/header';
@require 'blocks/sections/preview';
@require 'blocks/sections/about';
@require 'blocks/sections/portfolio';

@require 'blocks/components/logo';
@require 'blocks/components/nav';
@require 'blocks/components/project';
